html, body {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

body {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 300;
    z-index: 10;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}